.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node rect {
  fill: #9ecae1;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: black;
  stroke-width: 0.8px;
  stroke-opacity: 0.2;
}

