.node rect {
  fill: #43a2ca;
  stroke: #43a2ca;
  stroke-width: 1.5px;
}

.node {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: black;
  stroke-width: 0.8px;
  stroke-opacity: 0.2;
}

.legend_text {
  font: 12px sans-serif;
  stroke: black;
}

.slider {
  padding: 0px;
  background-color: #e8e8e8;
  display: inline-block;
  width: 300px;
  height: 50px;
  float: right;
  margin-right: 0px;
}

.topdiv {
  float: left;
  margin-left: 50px;
  padding-bottom: 10px;
  font: 14px sans-serif;
}

.kbutton {
  margin-left: 10px;
}
